.app-login-page{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #e4e2e2;
    background-image : url('..\..\assets\images\landing_image.jpg');
}
.login-box{
    max-width : 350px;
    background-color: white;
    box-shadow: 0px 8px 17px #757373;
    border-radius : 25px;
    padding : 6px;
}

form {
    border: 2px solid #d9682e;
    border-radius: 20px;
    overflow: hidden;
}

/* input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
} */

.input-group-append {
  display: flex;
}

button {
  background-color: #d9682e;
  color: white;
  padding: 8px 0px 8px 0px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
  
}

.submit-button{
    box-shadow: 0px 5px 12px #ad9e9e;
}

button:hover {
  opacity: 0.8;
}

.signupbtn {
  width: auto;
  padding: 8px 18px;
  background-color: #d9682e;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 25%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 20px;
}

.form-group {
  margin-bottom: 0.5em;
}

.has-error{
    border : 1px solid red;
    border-radius: 6px;
}

.has-error.color{
    color : red;
 }

 input:focus{
    outline: none;
 }

 .error-block{
    font-size: 14px;
    padding: 0px 0px 2px 0px;
    color: red;
    margin: 5px 0px;
    display: flex;
    justify-content: end;
 }

 .forgot-password{
     font-size: 12px;
 }
 .forgot-password > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
 }
 .forgot-password > a:hover{
    color: #d9682e;
 }

 label {
    color : #3f3d3d;
    margin-bottom: 0.5em;
    font-weight: bold;
 }
/* Change styles for span and cancel button on extra small screens */
 @media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .signupbtn {
     width: 100%;
  }
} 