
.app-timer >div >h2{
    text-align: right;
}
.item {
    position: relative;
    float: left;
}

.item h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}

svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* .circle_animation {
  stroke-dasharray: 440; 
  stroke-dashoffset: 440;
} */
.timer-submit{
    padding: 8px;
    background-color: #d9682e;
    border-radius: 6px;
    position: relative;
    top: 8px;
    box-shadow: 0px 2px 13px #0000008c;
    font-weight: bold;
    color: white;
    width: 100px;
}